#include ".urxvt/colors"

! Xft settings
Xft.dpi:       96
Xft.antialias: true
Xft.rgba:      rgb
Xft.hinting:   true
Xft.hintstyle: hintfull

! URxvt settings
! URxvt.depth:                32
URxvt.geometry:       90x30
URxvt.transparent:    false
URxvt.urgentOnBell:   true
URxvt.loginShell:     false
URxvt.saveLines:      64
URxvt.internalBorder: 1
URxvt.lineSpace:      0

! Fonts
URxvt.allow_bold:  false
URxvt*font:        -artwiz-limey-medium-r-normal--10-110-75-75-m-50-iso8859-1
URxvt*italicFont:  -artwiz-limey-medium-r-normal--10-110-75-75-m-50-iso8859-1
URxvt*boldFont:    -artwiz-limey-medium-r-normal--10-110-75-75-m-50-iso8859-1
URxvt*letterSpace: 0

! Scrollbar
URxvt.scrollBar: false

! Perl extensions
! URxvt.perl-ext-common:      default,matcher
URxvt.matcher.button:       1
URxvt.urlLauncher:          firefox
URxvt.perl-ext-common:      default,clipboard,url-select,keyboard-select
URxvt.url-select.launcher:  firefox
! URxvt.url-select.underline: true
URxvt.keysym.M-u:           perl:url-select:select_next
Urxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-/:           perl:keyboard-select:search

! Cursor
URxvt.cursorBlink:     false
URxvt.cursorUnderline: false

! Xcursor
! You may want to edit /usr/share/icons/default/index.theme to make sure it
! inherits this theme, certainly if it is the only one.
Xcursor.theme: OpenZone_Black

! Pointer
URxvt.pointerBlank: true
