#include ".urxvt/colors"

! Xft settings
Xft.dpi:       96
Xft.antialias: true
Xft.rgba:      rgb
Xft.hinting:   true
Xft.hintstyle: hintfull

! URxvt settings
! URxvt.depth:                32
URxvt.geometry:       90x30
URxvt.transparent:    false
URxvt.urgentOnBell:   true
URxvt.loginShell:     false
URxvt.saveLines:      64
URxvt.internalBorder: 1
URxvt.lineSpace:      0

! Fonts
URxvt.allow_bold:  false
! URxvt*font:        -artwiz-limey-medium-r-normal--10-110-75-75-m-50-iso8859-1
! URxvt*italicFont:  -artwiz-limey-medium-r-normal--10-110-75-75-m-50-iso8859-1
! URxvt*boldFont:    -artwiz-limey-medium-r-normal--10-110-75-75-m-50-iso8859-1
! URxvt*font:        xft:Fantasque Sans Mono:style=Regular:size=8
! URxvt*italicFont:  xft:Fantasque Sans Mono:style=Regular:size=8
! URxvt*boldFont:    xft:Fantasque Sans Mono:style=Regular:size=8
URxvt*font:        xft:Fira Mono:style=Regular:size=8
URxvt*italicFont:  xft:Fira Mono:style=Regular:size=8
URxvt*boldFont:    xft:Fira Mono:style=Regular:size=8
URxvt*letterSpace: -2

Emacs.menuBar: 0
Emacs.toolBar: 0
Emacs.verticalScrollBars: off
! Emacs.font: -artwiz-limey-medium-r-normal--10-110-75-75-m-50-iso8859-1
! Emacs.italicFont: -artwiz-limey-medium-r-normal--10-110-75-75-m-50-iso8859-1
! Emacs.boldFont: -artwiz-limey-medium-r-normal--10-110-75-75-m-50-iso8859-1
Emacs.font:       Fira Mono-7.5:style=regular:width=condensed
Emacs.italicFont: Fira Mono-7.5:style=regular:width=condensed
Emacs.boldFont:   Fira Mono-7.5:style=regular:width=condensed
! Emacs*letterSpace: -2

! TODO: Ideally fonts should be able to be changed without affecting the working
! git directory (i.e. making it "unclean").
! emacs.font: Fantasque Sans Mono-8
! emacs.italicFont: Fantasque Sans Mono-8
! emacs.boldFont: Fantasque Sans Mono-8

! Scrollbar
URxvt.scrollBar: false

! Perl extensions
! URxvt.perl-ext-common:      default,matcher
URxvt.matcher.button:       1
URxvt.urlLauncher:          firefox
URxvt.perl-ext-common:      default,clipboard,url-select,keyboard-select
URxvt.url-select.launcher:  firefox
! URxvt.url-select.underline: true
URxvt.keysym.M-u:           perl:url-select:select_next
Urxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-/:           perl:keyboard-select:search

! Cursor
URxvt.cursorBlink:     false
URxvt.cursorUnderline: false

! Xcursor
! You may want to edit /usr/share/icons/default/index.theme to make sure it
! inherits this theme, certainly if it is the only one.
Xcursor.theme: OpenZone_Black

! Pointer
URxvt.pointerBlank: true
