[user]
  name = xd1le
  email = elisp.vim@gmail.com

[core]
  editor = vim
  excludesfile = '~/dots/git/gitignore'

[init]
  defaultBranch = main

[push]
  default = matching

[sendemail]
  smtpEncryption = tls
  smtpServer = smtp.gmail.com
  smtpUser = elisp.vim@gmail.com
  smtpServerPort = 587
  suppresscc = self

[alias]
  amend = commit --amend
  # TODO: Implement 'edit' alias.
  # edit = '!f() { }; f'
  rl = reflog
  rollback = reset --hard HEAD@{1}
  undo = reset HEAD~1

[commit]
  template = ~/dots/git/commit-template
