[user]
  name = xd1le
  email = elisp.vim@gmail.com

[core]
  editor = vim
  excludesfile = '~/.gitignore.global'

[push]
  default = matching

[sendemail]
  smtpEncryption = tls
  smtpServer = smtp.gmail.com
  smtpUser = elisp.vim@gmail.com
  smtpServerPort = 587
  suppresscc = self
