[submodule "nixos/nixpkgs"]
	path = nixos/nixpkgs
	url = https://github.com/nixos/nixpkgs
[submodule "vendor/emacs/moe-theme.el"]
	path = vendor/emacs/moe-theme.el
	url = https://github.com/kuanyui/moe-theme.el
