[submodule "vendor/zsh/zsh-syntax-highlighting"]
	path = vendor/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "vendor/vim/vim-plug"]
	path = vendor/vim/vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule "vendor/emacs/yasnippet-snippets"]
	path = vendor/emacs/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets/
[submodule "vendor/emacs/package-build"]
	path = vendor/emacs/package-build
	url = https://github.com/milkypostman/melpa
[submodule "vendor/emacs/quelpa"]
	path = vendor/emacs/quelpa
	url = https://github.com/quelpa/quelpa
[submodule "vendor/emacs/quelpa-use-package"]
	path = vendor/emacs/quelpa-use-package
	url = https://github.com/quelpa/quelpa-use-package
[submodule "vendor/emacs/use-package"]
	path = vendor/emacs/use-package
	url = https://github.com/jwiegley/use-package
[submodule "vendor/emacs/undo-tree"]
	path = vendor/emacs/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "vendor/emacs/ov.el"]
	path = vendor/emacs/ov.el
	url = https://github.com/ShingoFukuyama/ov.el
[submodule "vendor/emacs/evil-matchit"]
	path = vendor/emacs/evil-matchit
	url = https://github.com/redguardtoo/evil-matchit
[submodule "vendor/emacs/evil-nerd-commenter"]
	path = vendor/emacs/evil-nerd-commenter
	url = https://github.com/redguardtoo/evil-nerd-commenter
[submodule "vendor/emacs/evil-surround"]
	path = vendor/emacs/evil-surround
	url = https://github.com/timcharper/evil-surround
[submodule "vendor/emacs/yasnippet"]
	path = vendor/emacs/yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule "vendor/emacs/Fill-Column-Indicator"]
	path = vendor/emacs/Fill-Column-Indicator
	url = https://github.com/alpaker/Fill-Column-Indicator
[submodule "vendor/emacs/haskell-mode"]
	path = vendor/emacs/haskell-mode
	url = https://github.com/haskell/haskell-mode
[submodule "vendor/vim/vim-repeat"]
	path = vendor/vim/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vendor/vim/vim-surround"]
	path = vendor/vim/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vendor/vim/vim-buftabline"]
	path = vendor/vim/vim-buftabline
	url = https://github.com/ap/vim-buftabline
[submodule "vendor/vim/delimitMate"]
	path = vendor/vim/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule "vendor/vim/vim-commentary"]
	path = vendor/vim/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vendor/vim/targets.vim"]
	path = vendor/vim/targets.vim
	url = https://github.com/wellle/targets.vim
[submodule "vendor/vim/vim-better-whitespace"]
	path = vendor/vim/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule "vendor/vim/gruvbox"]
	path = vendor/vim/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "vendor/emacs/rust-mode"]
	path = vendor/emacs/rust-mode
	url = https://github.com/rust-lang/rust-mode
[submodule "vendor/emacs/diminish.el"]
	path = vendor/emacs/diminish.el
	url = https://github.com/myrjola/diminish.el
[submodule "vendor/emacs/fuzzy-el"]
	path = vendor/emacs/fuzzy-el
	url = https://github.com/auto-complete/fuzzy-el
[submodule "vendor/emacs/popup-el"]
	path = vendor/emacs/popup-el
	url = https://github.com/auto-complete/popup-el
[submodule "vendor/emacs/auto-complete"]
	path = vendor/emacs/auto-complete
	url = https://github.com/auto-complete/auto-complete
[submodule "vendor/emacs/spaceline"]
	path = vendor/emacs/spaceline
	url = https://github.com/TheBB/spaceline
[submodule "vendor/emacs/dash.el"]
	path = vendor/emacs/dash.el
	url = https://github.com/magnars/dash.el
[submodule "vendor/emacs/powerline"]
	path = vendor/emacs/powerline
	url = https://github.com/milkypostman/powerline
[submodule "vendor/emacs/s.el"]
	path = vendor/emacs/s.el
	url = https://github.com/magnars/s.el
[submodule "vendor/emacs/nyan-mode"]
	path = vendor/emacs/nyan-mode
	url = https://github.com/TeMPOraL/nyan-mode
[submodule "vendor/emacs/org-bullets"]
	path = vendor/emacs/org-bullets
	url = https://github.com/sabof/org-bullets
