@document url-prefix(chrome) {
  #appcontent,
  #appcontent > #content,
  #appcontent > #content > tabbox > tabpanels {
    background: #fbf1c7 !important;
  }

  tabs#tabbrowser-tabs {
    background: #fbf1c7 !important;
  }

  .tabbrowser-tab {
    color: #928374 !important;
    background: #fbf1c7 !important;
  }

  .tabbrowser-tab[selected=true] {
    color: #d3d0c8 !important;
    background: #2d2d2d !important;
  }
}

@-moz-document url-prefix(chrome) {
  #appcontent,
  #appcontent > #content,
  #appcontent > #content > tabbox > tabpanels {
    background: #fbf1c7 !important;
  }

  tabs#tabbrowser-tabs {
    background: #fbf1c7 !important;
  }

  .tabbrowser-tab {
    color: #928374 !important;
    background: #fbf1c7 !important;
  }

  .tabbrowser-tab[selected=true] {
    color: #3c3836 !important;
    background: #ebdbb2 !important;
  }
}
