/**
 * @document and @-moz-document do not work if only separated by commas for
 * defining rules in a common block.
 */

@document url-prefix(http://chaijs.com/),
          url-prefix(http://doc.rust-lang.org/guide.html) {
  pre,
  code {
    font-family: 'Fantasque Sans Mono', monospace !important;
  }
}

@-moz-document url-prefix(http://chaijs.com/),
               url-prefix(http://doc.rust-lang.org/guide.html) {
  pre,
  code {
    font-family: 'Fantasque Sans Mono', monospace !important;
  }
}

@document url-prefix(http://www.google.com) {
  div.gb_ba {
    display: none !important;
  }
}

@document url-prefix(https://www.google.com) {
  div.gb_ba {
    display: none !important;
  }
}

@-moz-document url-prefix(http://www.google.com) {
  div.gb_ba {
    display: none !important;
  }
}

@-moz-document url-prefix(https://www.google.com) {
  div.gb_ba {
    display: none !important;
  }
}

@document url-prefix(http://stackoverflow.com/) {
  div[id*="careers"] {
    display: none !important;
  }
}

@document url-prefix(https://stackoverflow.com/) {
  div[id*="careers"] {
    display: none !important;
  }
}

@-moz-document url-prefix(http://stackoverflow.com/) {
  div[id*="careers"] {
    display: none !important;
  }
}

@-moz-document url-prefix(https://stackoverflow.com/) {
  div[id*="careers"] {
    display: none !important;
  }
}

@document url-prefix(https://twitter.com/) {
  div.WhoToFollow,
  div.wtf-module,
  div.dashboard-right {
    display: none !important;
  }
}

@-moz-document url-prefix(https://twitter.com/) {
  div.WhoToFollow,
  div.wtf-module,
  div.dashboard-right {
    display: none !important;
  }
}

@document url-prefix(https://www.reddit.com) {
  aside.read-next {
    display: none !important;
  }
}

@-moz-document url-prefix(https://www.reddit.com) {
  aside.read-next {
    display: none !important;
  }
}

@document url-prefix(http://ergoemacs.org/) {
  nav.n1 {
    animation: none !important;
  }
}

@-moz-document url-prefix(http://ergoemacs.org/) {
  nav.n1 {
    animation: none !important;
  }
}

@document url-prefix(https://github.com/) {
  div.new-user-avatar-cta {
    display: none !important;
  }
}

@-moz-document url-prefix(https://github.com/) {
  div.new-user-avatar-cta {
    display: none !important;
  }
}

@document url-prefix(https://gitlab.com/) {
  pre,
  code,
  pre code,
  .file-content.code pre,
  .file-content.code code,
  .file-content.code pre code,
  .file-content.code .line-numbers,
  .file-content.code .line-numbers * {
    font-family: monospace !important;
  }
}

@-moz-document url-prefix(https://gitlab.com/) {
  pre,
  code,
  pre code,
  .file-content.code pre,
  .file-content.code code,
  .file-content.code pre code,
  .file-content.code .line-numbers,
  .file-content.code .line-numbers * {
    font-family: monospace !important;
  }
}

@document url-prefix(http://pastebin.com/) {
  div#abrpm {
    display: none !important;
  }
}

@-moz-document url-prefix(http://pastebin.com/) {
  div#abrpm {
    display: none !important;
  }
}
