#appcontent,
#appcontent > #content,
#appcontent > #content > tabbox > tabpanels {
  background: #2d2d2d !important;
}

tabs#tabbrowser-tabs {
  background: #2d2d2d !important;
}

.tabbrowser-tab {
  color: #a09f93 !important;
  background: #2d2d2d !important;
}

.tabbrowser-tab[selected=true] {
  color: #d3d0c8 !important;
  background: #2d2d2d !important;
}
