#include ".urxvt/colors"
#include ".Xresources.d/fonts"

! Xft settings
Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba:      rgb

! URxvt settings
! URxvt.depth:                32
URxvt.geometry:       90x30
URxvt.transparent:    false
URxvt.urgentOnBell:   true
URxvt.loginShell:     false
URxvt.saveLines:      64
URxvt.internalBorder: 1
URxvt.lineSpace:      0

! Scrollbar
URxvt.scrollBar: false

emacs.menuBar: 0
emacs.toolBar: 0
emacs.verticalScrollBars: off

! Perl extensions
! URxvt.perl-ext-common:      default,matcher
URxvt.matcher.button:       1
! URxvt.urlLauncher:          firefox
URxvt.perl-ext-common:      default,clipboard,url-select,keyboard-select
! URxvt.url-select.launcher:  firefox
! URxvt.url-select.underline: true
! URxvt.keysym.M-u:           perl:url-select:select_next
! Urxvt.keysym.M-Escape:      perl:keyboard-select:activate
! URxvt.keysym.M-/:           perl:keyboard-select:search

! Cursor
URxvt.cursorBlink:     false
URxvt.cursorUnderline: false

! Xcursor
Xcursor.theme: OpenZone_Black

! Pointer
URxvt.pointerBlank: true
